div {
      width: 400px;
      min-width: 20px;
      background-color: teal;

}

ul{
     width: 330px;
     padding: 20px;
     background-color: pink;
}
li{
     width: 300px;
     padding: 10px;
     background-color: green;
}
